# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node & Frontend Build
frontend/node_modules/
node_modules/
frontend/dist/
dist/
.vite/

# Local databases & logs
*.log
.DS_Store
Thumbs.db

# Temporary test screenshots & user video uploads
/*.png
detector/*.png
public/videos/uploads/*
!public/videos/uploads/.gitkeep
ml/raw/


detector/*_backup.pt

